In [2]:
import numpy as np
import pandas as pd
path = "D:/program/program1/User_portrait/"

In [15]:
names = ['order_date', 'company', 'order_num', 'num', 'actual_weight', 'total_freight']
data = pd.read_csv(path + "20190305_1.csv", names = names, index_col = None, header = None)

In [16]:
data.head()

   order_date      company  order_num  num  actual_weight  total_freight
0  2018-08-26         成都淘客         24  177         2938.0        19118.4
1  2018-11-05  昆山帏达鑫(518号)          2   10           69.0          191.0
2  2018-10-11       杭州金松电器         13   13          565.2         1474.2
3  2018-12-07         南通爱喜          3    8          209.0          617.5
4  2018-11-17         长沙中模          1    1          100.0          173.0

In [12]:
import pandas as pd
import datetime
import numpy as np
import warnings

import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, Normalizer, StandardScaler
warnings.filterwarnings('ignore')
plt.rcParams['font.sans-serif']=['SimHei']  # 中文
plt.rcParams['axes.unicode_minus'] = False  # 负号
path = "D:/program/program1/User_portrait/"

In [13]:
data_company = pd.read_csv(path + "20190301.csv", names = ['order_date', 'company', 'total_freight'])
data_company = data_company[data_company['total_freight'] >= 1]
data_company['order_date'] = pd.to_datetime(data_company['order_date'], format = '%Y-%m-%d')

In [14]:
data_company['data_diff'] = pd.to_datetime('today') - data_company['order_date']
data_company['data_diff'] = data_company['data_diff'].dt.days

In [15]:
R_data = data_company.groupby(by = 'company')['data_diff'].agg({'recency' : np.min})
F_data = data_company.groupby(by = 'company')['order_date'].agg({'frequency':np.size})
M_data = data_company.groupby(by = 'company')['total_freight'].agg({'monetary':np.sum})

In [16]:
rfm_data = pd.concat([R_data, F_data, M_data], axis = 1)

In [17]:
rfm_data.head()

            recency  frequency  monetary
company
01个人刘健           66          2    669.00
3M苏州             83          8   4452.50
66号定制家居          44          6  12928.60
Dotwil点为商城       35          4    635.79
IT中心测试           43          3    217.00